[Unit]
Description=TempReport
After=multi-user.target network-online.target

[Service]
SyslogIdentifier=TempReport
User=admin

WorkingDirectory=/home/admin/ThermalControl
ExecStart=/usr/bin/python /home/admin/ThermalControl/tempReport.py
StandardOutput=journal
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
