[Unit]
Description=TempIndicator
After=syslog.target network.target multi-user.target network-online.target

[Service]
SyslogIdentifier=TempIndicator
Type=simple
User=admin

WorkingDirectory=/home/admin/ThermalControl
cStart=-/usr/bin/python -u /home/admin/ThermalControl/temperatureIndicator.py
StandardOutput=journal
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
