[Unit]
Description=TempReport
After=syslog.target network.target multi-user.target network-online.target

[Service]
SyslogIdentifier=TempReport
Type=simple
User=admin

WorkingDirectory=/home/admin/ThermalControl
cStart=-/usr/bin/python -u /home/admin/ThermalControl/tempReport.py
StandardOutput=journal
Restart=always
RestartSec=1

TimeoutSec=20
[Install]
WantedBy=multi-user.target
